<div class="container">

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1> Welcome! Sign In! </h1>
    </div>
  </div>
  <div class="row">

    <% flash.each do |k,v| %>


  <div class="alert alert-<%= k %>">
     <%= v %>
  </div>

    <% end %>
    <div class="col-md-4 col-md-offset-4">

      <%= bootstrap_form_for :user do |f| %>
      <%= f.text_field :email, :placeholder => "email", :icon => "user" %>
      <%= f.text_field :password, :placeholder => "password", :type => "password", :icon => "lock" %>
      <%= f.primary "Login" %>

    <% end %>

    </div>
  </div>
</div>