<div class="container">

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1> Welcome! Sign Up! </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <%= bootstrap_form_for :user do |p| %>
      <%= p.text_field :email, :placeholder => 'e-mail' %>
      <%= p.text_field :password, :placeholder => 'password' %>
      <%= p.text_field :name, :placeholder => 'first and last name' %>
      <%= p.primary %>
      <% end %>

    </div>
  </div>
</div>