<div class="container">
<table class="table table-hover">
    <thead>
      <tr>
        <th>Vote</th>
        <th>User</th>
        <th>Comment</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody> <% @comments.each do |i| %>
      <tr>
        <td>
            <%= bootstrap_form_for [@post, i, @vote] do |u| %>
            <%= u.hidden_field :value, value: "1" %>
            <%= u.button "", class: "btn btn-primary btn-xs glyphicon glyphicon-arrow-up" %>
            <% end %>
            <%= bootstrap_form_for [@post, i, @vote] do |u| %>
            <%= u.hidden_field :value, value: "-1" %>
            <%= u.button "", class: "btn btn-primary btn-xs glyphicon glyphicon-arrow-down" %>
            <% end %>
        </td>

        <td> <%= @user.where(:id => i.user_id)[0].name %></td>
        <td> <%= i.body %> </td>
        <td>  <%= i.votes.reduce(0){|sum, v| sum + v.value} %> </td>
      </tr>

  <% end %>


    </tbody>

  <%= link_to "Post a Comment", new_post_comment_path %>


</div>